/* {{{ ****** default theme styles ******/
.window-wrapper {
  border-radius: var(--mac-window-border-radius);
}

.window-title-bar {
  height: var(--window-title-bar-height);
  line-height: var(--mac-window-title-bar-height);
  display: flex;
}

.window-title-buttons {
  margin-left: 1rem;
  white-space: nowrap;
}

.window-title-button {
  border-width: 0;
  border-radius: calc(var(--mac-window-title-button-diameter) / 2);
  height: var(--mac-window-title-button-diameter);
  width: var(--mac-window-title-button-diameter);
  margin: 0 calc(var(--mac-window-title-button-diameter) / 5);
  font-weight: 600;
  fill: transparent;
  padding: 0 0 0 0;
  color: transparent;
  transition: color .15s;
}

.window-title-button::after {
  line-height: 1;
  display: inline;
  vertical-align: 10%;
}

:host([hover]) .window-title-button:hover,
:host([hover]) .window-title-button:focus {
  color: rgba(0, 0, 0, .3);
}

.window-title-button__close {
  background: var(--mac-window-title-bar-button-close-color);
}

.window-title-button__close::after {
  content: "⨉";
}

.window-title-button__minimize {
  background: var(--mac-window-title-bar-button-minimize-color);
}

.window-title-button__minimize::after {
  content: "–";
}

.window-title-button__maximize {
  background: var(--mac-window-title-bar-button-maximize-color);
}

.window-title-button__maximize::after {
  content: "+";
}

.window-title-text {
  line-height: 2.95;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  font-family: var(--mac-window-font);
  padding: 0 3rem;
  width: 100%;
  margin: 0 auto;

}

.window-content-slot-wrapper {
  padding: 0 1rem .5rem 1rem;
  font-family: var(--mac-window-font);
  box-sizing: border-box;
}

:host([theme="dark"]) .window-content-slot-wrapper {
  color: var(--mac-window-theme-dark-font-color);
  background: var(--mac-window-theme-dark-background-color);
}

.window-content-slot-wrapper,
:host([theme="light"]) .window-content-slot-wrapper {
  color: var(--mac-window-theme-light-font-color);
  background: var(--mac-window-theme-light-background-color);
}

:host([theme="dark"]) .window-title-text {
  color: var(--mac-window-theme-dark-font-color);
  background: var(--mac-window-theme-dark-background-color);
}

.window-title-text,
:host([theme="light"]) .window-title-text {
  color: var(--mac-window-theme-light-font-color);
  background: var(--mac-window-theme-light-background-color);
}

.window-title-bar,
:host([theme="light"]) .window-title-bar {
  color: var(--mac-window-theme-light-font-color);
  background: var(--mac-window-theme-light-background-color);
}

:host([theme="dark"]) .window-title-bar {
  color: var(--mac-window-theme-dark-font-color);
  background: var(--mac-window-theme-dark-background-color);
}
/* }}} */
