/* {{{ ***** win-xp theme styles ******/
:host([os-theme="win-xp"]) .window-wrapper {
  border-radius: var(--win-xp-window-border-radius);
}

:host([os-theme="win-xp"]) .window-title-bar {
  height: 2.5rem;
  line-height: var(--win-xp-window-title-bar-height);
  display: flex;
  flex-direction: row-reverse;
}

:host([os-theme="win-xp"]) .window-title-buttons {
  margin-right: 7px;
  margin-top: 7px;
  white-space: nowrap;
  display: flex;
}

:host([os-theme="win-xp"]) .window-title-button {
  border-width: 1px;
  border-style: solid;
  border-radius: calc(var(--win-xp-window-title-button-diameter) / 8);
  height: var(--win-xp-window-title-button-diameter);
  width: var(--win-xp-window-title-button-diameter);
  margin: 0 2px;
  font-weight: 600;
  fill: transparent;
  padding: 0 0 0 0;
  font-size: 1.45rem;
}

:host([os-theme="win-xp"]) .window-title-button__close {
  order: 3;
  background: var(--win-xp-window-title-bar-button-close-color);
}

:host([os-theme="win-xp"]) .window-title-button__close::after {
  content: "⨉";
}

:host([os-theme="win-xp"]) .window-title-button__maximize {
  order: 2;
}

:host([os-theme="win-xp"]) .window-title-button__maximize::after {
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 8% 99%, 8% 17%, 92% 17%, 92% 92%, 0 92%, 0 100%, 100% 100%, 100% 0%);
  clip-path: polygon(0% 0%, 0% 100%, 8% 99%, 8% 17%, 92% 17%, 92% 92%, 0 92%, 0 100%, 100% 100%, 100% 0%);
  content: "";
  height: 18px;
  width: 18px;
  display: inline-block;
  line-height: 0.55;
}

:host([os-theme="win-xp"]) .window-title-button__minimize {
  order: 1;
}

:host([os-theme="win-xp"]) .window-title-button__minimize::after {
  content: "_";
  position: relative;
  left: -3px;
  top: -5px;
}

:host([os-theme="win-xp"]) .window-title-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  font-family: var(--win-xp-window-font);
  padding-left: 1rem;
  width: 100%;
  margin: 0 auto;
  background: transparent;
}

:host([os-theme="win-xp"]) .window-content-slot-wrapper {
  font-family: var(--win-xp-window-font);
  box-sizing: border-box;
  border-width: 0 5px 5px 5px;
  border-style: solid;
  border-top: 0;
  padding-top: .5rem;
  overflow: hidden;
  color: black;
  background: #ebe8d7;
}

:host([window-state="minimized"][os-theme="win-xp"]) .window-content-slot-wrapper {
  padding-top: 0;
}

:host([os-theme="win-xp"]) .window-content-slot-wrapper,
:host([theme="light"][os-theme="win-xp"]) .window-content-slot-wrapper {
  border-color: var(--win-xp-window-theme-light-border-color);
}

:host([os-theme="win-xp"][theme="dark"]) .window-content-slot-wrapper {
  border-color: var(--win-xp-window-theme-dark-border-color);
}

:host([os-theme="win-xp"]) .window-wrapper,
:host([os-theme="win-xp"][theme="light"]) .window-wrapper {
  color: var(--win-xp-window-theme-light-font-color);
}

:host([os-theme="win-xp"]) .window-title-text,
:host([theme="light"][os-theme="win-xp"]) .window-title-text {
  color: var(--win-xp-window-theme-light-font-color);
  text-shadow: 1px 1px 2px var(--win-xp-window-theme-light-title-bar-text-shadow-color);
}

:host([theme="dark"][os-theme="win-xp"]) .window-title-text {
  color: var(--win-xp-window-theme-dark-font-color);
  text-shadow: 1px 1px 2px var(--win-xp-window-theme-dark-title-bar-text-shadow-color);
}

:host([os-theme="win-xp"]) .window-title-bar,
:host([theme="light"][os-theme="win-xp"]) .window-title-bar {
  color: var(--win-xp-window-theme-light-font-color);
  background: var(--win-xp-window-theme-light-title-bar-background-color);
}

:host([theme="dark"][os-theme="win-xp"]) .window-title-bar {
  color: var(--win-xp-window-theme-dark-font-color);
  background: var(--win-xp-window-theme-dark-title-bar-background-color);
}

:host([os-theme="win-xp"]) .window-title-button,
:host([theme="light"][os-theme="win-xp"]) .window-title-button {
  background: var(--win-xp-window-theme-light-title-bar-button-background-color);
  border-color: var(--win-xp-window-theme-light-title-bar-border-color);
  color: var(--win-xp-window-theme-light-title-bar-button-font-color);
}

:host([theme="dark"][os-theme="win-xp"]) .window-title-button {
  background: var(--win-xp-window-theme-dark-title-bar-button-background-color);
  border-color: var(--win-xp-window-theme-dark-title-bar-border-color);
  color: var(--win-xp-window-theme-dark-title-bar-button-font-color);
  text-shadow: -1px 1px 1px #ffffff;
}

:host([hover][os-theme="win-xp"]) .window-title-button:hover,
:host([hover][os-theme="win-xp"]) .window-title-button:focus,
:host([hover][theme="light"][os-theme="win-xp"]) .window-title-button:hover,
:host([hover][theme="light"][os-theme="win-xp"]) .window-title-button:focus {
  background: var(--win-xp-window-theme-light-title-bar-button-hover-color);
  color: var(--win-xp-window-theme-light-title-bar-button-font-color);
}

:host([hover][theme="dark"][os-theme="win-xp"]) .window-title-button:hover,
:host([hover][theme="dark"][os-theme="win-xp"]) .window-title-button:focus {
  background: var(--win-xp-window-theme-dark-title-bar-button-hover-color);
  color: var(--win-xp-window-theme-dark-title-bar-button-font-color);
}

:host([os-theme="win-xp"]) .window-title-button__maximize::after,
:host([theme="light"][os-theme="win-xp"]) .window-title-button__maximize::after {
  background: var(--win-xp-window-theme-light-title-bar-button-font-color);
}

:host([theme="dark"][os-theme="win-xp"]) .window-title-button__maximize::after {
  background: var(--win-xp-window-theme-dark-title-bar-button-font-color);
}

:host([os-theme="win-xp"]) .window-title-button__close,
:host([theme="light"][os-theme="win-xp"]) .window-title-button__close {
  background: var(--win-xp-window-theme-light-title-bar-button-close-background-color);
  color: var(--win-xp-window-theme-light-title-bar-button-close-font-color);
}

:host([theme="dark"][os-theme="win-xp"]) .window-title-button__close {
  background: var(--win-xp-window-theme-dark-title-bar-button-close-background-color);
  color: var(--win-xp-window-theme-dark-title-bar-button-close-font-color);
  text-shadow: -1px -1px 1px var(--win-xp-window-theme-dark-title-bar-button-close-text-shadow-color);
}

:host([theme="dark"][os-theme="win-xp"]) .window-title-button__close::after {
  position: relative;
  top: -1px;
  color: var(--win-xp-window-theme-dark-title-bar-button-close-font-color);
}

:host([hover][os-theme="win-xp"]) .window-title-button__close:hover,
:host([hover][os-theme="win-xp"]) .window-title-button__close:focus,
:host([hover][theme="light"][os-theme="win-xp"]) .window-title-button__close:hover,
:host([hover][theme="light"][os-theme="win-xp"]) .window-title-button__close:focus {
  background: var(--win-xp-window-theme-light-title-bar-button-close-hover-color);
}

:host([hover][theme="dark"][os-theme="win-xp"]) .window-title-button__close:hover,
:host([hover][theme="dark"][os-theme="win-xp"]) .window-title-button__close:focus {
  background: var(--win-xp-window-theme-dark-title-bar-button-close-hover-color);
}
/* }}} */

