.window-wrapper {
  --mac-window-title-button-diameter: .8rem;
  --mac-window-border-radius: 8px;
  --mac-window-title-bar-height: 2.5rem;
  --mac-window-title-bar-button-close-color: #ef534a;
  --mac-window-title-bar-button-maximize-color: #97d272;
  --mac-window-title-bar-button-minimize-color: #edc04a;
  --mac-window-theme-dark-background-color: #343a46;
  --mac-window-theme-dark-font-color: #ffffff;
  --mac-window-theme-light-background-color: #eef1f5;
  --mac-window-theme-light-font-color: #87827d;
  --mac-window-font: sans-serif;

  --win-xp-window-title-button-diameter: 1.7rem;
  --win-xp-window-border-radius: 8px;
  --win-xp-window-title-bar-height: 2.5rem;
  --win-xp-window-theme-dark-border-color: rgba(239,238,241,1);
  --win-xp-window-theme-dark-font-color: black;
  --win-xp-window-theme-dark-title-bar-text-shadow-color: #999999;
  --win-xp-window-theme-dark-title-bar-button-close-text-shadow-color: #724846;
  --win-xp-window-theme-dark-title-bar-button-close-font-color: #ffffff;
  --win-xp-window-theme-dark-title-bar-button-close-background-color: #ef534a;
  --win-xp-window-theme-dark-title-bar-button-close-hover-color: #f66030;
  --win-xp-window-theme-dark-title-bar-button-font-color: #4f4a59;
  --win-xp-window-theme-dark-title-bar-button-background-color: #d4d2e0;
  --win-xp-window-theme-dark-title-bar-border-color: #000000;
  --win-xp-window-theme-dark-title-bar-button-hover-color: #e4e2f0;
  --win-xp-window-theme-dark-title-bar-background-color: linear-gradient(180deg, rgba(134,133,139,1) 0%, rgba(239,238,241,1) 2%, rgba(166,165,186,1) 20%, rgba(252,253,255,1) 94%, rgba(132,132,141,1) 100%);
  --win-xp-window-theme-light-border-color: rgba(48,118,222,1);
  --win-xp-window-theme-light-font-color: #ffffff;
  --win-xp-window-theme-light-title-bar-text-shadow-color: #333333;
  --win-xp-window-theme-light-title-bar-button-close-font-color: #ffffff;
  --win-xp-window-theme-light-title-bar-button-close-background-color: #ef534a;
  --win-xp-window-theme-light-title-bar-button-close-hover-color: #f66030;
  --win-xp-window-theme-light-title-bar-button-font-color: #ffffff;
  --win-xp-window-theme-light-title-bar-button-background-color: #2c6af6;
  --win-xp-window-theme-light-title-bar-border-color: #ffffff;
  --win-xp-window-theme-light-title-bar-button-hover-color: #3c7af6;
  --win-xp-window-theme-light-title-bar-background-color: linear-gradient(180deg, rgba(48,118,222,1) 0%, rgba(48,147,255,1) 2%, rgba(2,82,227,1) 20%, rgba(5,106,255,1) 94%, rgba(15,70,192,1) 100%);
  --win-xp-window-font: sans-serif;
}
